%h3 Search form
= form_for @search_order, :url => search_index_path, :method => :post do |f|
	= f.label :total_results
	= f.text_field :total_results
	%br

	= f.label :search_type
	= f.select :search_type, options_for_select(SearchOrder::SEARCH_TYPES.values)
	%br

	.search_query
		%h5 Search query
		= f.fields_for :search_queries do | sqf |
			= sqf.label :content
			= sqf.text_field :content
			%br

			= sqf.label :status, 'Search option'
			= search_query_status_select(sqf)
			%br

	= link_to 'Add new search query' , "#", :id => 'add-new-query-btn'

	.return_websites
		%h5 Choose websites in which you want to search
		.website
			= f.fields_for :websites do | wf |			
				= wf.text_field :domain_name				
				%br

	= link_to "Add new return websites", "#", :id => 'add-new-website-btn'

	= f.submit